In [1]:
import pandas as pd

### Skipping initital blank rows while importing the dataset

In [4]:
data = pd.read_excel(r'....<your file link >
                     ,skiprows=5)

In [5]:

data = data.dropna(how= 'all', axis = 0 ) # Deleting totally blank rows
data = data.dropna(how= 'all', axis = 1 ) # Deleting totally blank columns

In [6]:
data.columns  # There are extra trailing and leading spaces in column names

Index([' Program Code    ', '  Program Name  ', 'Level',
       'Number of Students  ', 'School', '   Deposit Amount '],
      dtype='object')

In [7]:
data.columns = data.columns.str.strip() # stripping spaces from column names and reassigning the clean column names to the dataset

In [8]:
data = data.replace(' ', None ) # replacing any spaces with Null values so that we can use fillna method

In [9]:
data = data.dropna(subset = ['Level','Number of Students']) # Deleting all rows where Level and Number of Students are not mentioned. 
## this deletes all subtotals
data = data.fillna(method = 'ffill') # Forward filling the dataset

In [10]:
data['Number of Students'].sum()

5966.0

In [11]:
data

,Program Code,Program Name,Level,Number of Students,School,Deposit Amount
1,K3135,Medical Laboratory Science,S1,53.0,HS,500.0
2,K3135,Medical Laboratory Science,S3,38.0,HS,500.0
3,K3135,Medical Laboratory Science,S5,13.0,HS,500.0
4,K3135,Medical Laboratory Science,S6,9.0,HS,500.0
6,K3263,Advertising and Marketing Communications,S1,88.0,BUS,500.0
...,...,...,...,...,...,...
231,K1395,Pre-Health Sciences Pathway to Advanced Diplom...,S1,51.0,HS,500.0
233,F1202,Masters in Data Science,S1,97.0,STT,500.0
234,F1202,Masters in Data Science,S2,102.0,STT,500.0
235,F1202,Masters in Data Science,S3,45.0,STT,500.0
236,F1202,Masters in Data Science,S4,33.0,STT,500.0